@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-color: #e7ecef; CLARO */
    background-color: #23283e; /*DARK*/
    height: 500vh;
    /* width: 100vw;
    height: 100vh;
    display: flex;
     justify-content: center;
    background-position: center;
    align-items: center;
    flex-direction: column; */
}

html {
    scroll-behavior: smooth;
}
